body {
	text-align: center;
	background-image: url('bg6.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
}

.bg {
	background-image: url('bg6.jpg');
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
}

.row {
	padding: 10px 0;
}

#search {
	background-color: #00000088;
}

#content {
	text-align: left;
	padding: 0 10%;
	list-style-type: none;
}

#content li {
	padding: 10px 10px;
	margin: 15px 0;
	box-shadow: 0 0px 8px #000000;
	background-color: rgba(0,0,0,0.6);

}

#submit {
	background-color: transparent;
	border-style: solid;
    padding: 6px 9px;
    border-radius: 12px;
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

#submit:hover {
	background-color: rgb(255,255,255);
	color: #000;
}

#category {
	background-color: transparent;
	padding: 10px 10px 5px;
	border: 1px solid #ffffff;
}

#query {
	background-color: transparent;
	padding: 10px 10px 5px;
	border: 1px solid;
}

#query::placeholder {
	color: #ffffff;

}

#category>option {
	background-color: transparent;
}

.white {
	color: #ffffff;
}